.border {
  border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;
}
.solid {
  border-top: 1px solid #ffffff;
  width: 100%;
}

input[type="password"] {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
