.w10 {
  width: 10%;
}
.w50 {
  width: 50%;
}

.font {
  font-family: Georgia, "Times New Roman", Times, serif;
}

tr,
thead,
table,
tbody,
th,
td {
  text-align: center;
  border: 0px solid;
}

tr {
  border-top: 1px solid gray;
}

span:hover {
  cursor: pointer;
}
