@font-face {
  font-family: "HeirofLightBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/HeirofLightBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "HeirofLightBold";
}
